<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">자기소개</div>
            <p class="paragraph-text justify-text">
               아직은 초보 개발자 이지만,
            </p>
            <p class="paragraph-text justify-text">
               목표가 생긴다면 그 목표만을 향해 달리는
            </p>
            <p class="paragraph-text justify-text">
               추진력 있는 개발자가 될 사람입니다.
            </p>
        </div>
    </section>
</div>
