<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">끝으로</div>
            <p class="paragraph-text justify-text">
                저의 포트폴리오를 봐주셔서 감사합니다
            </p>
            <p class="paragraph-text justify-text">
                어떠한 이야기를 해주시면 감사히 받아들이겠습니다 <a href="mailto:{{ site.email }}">{{ site.email }}</a> (<a href="https://www.nagekar.com/publickey.qotmdwn3436@naver.com.asc">PGP Key</a>). 감사합니다
            </p>
            <p class="paragraph-text justify-text">
                고생하셨습니다 <a href="{{ site.blog_url }}/resume/resume.pdf">PDF</a>, <a href="{{ site.blog_url }}/resume/resume.docx">DOC</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="PGP Key">
                    <a href="https://www.nagekar.com/publickey.qotmdwn3436@naver.com.asc"><i class="head-icon fas fa-key"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> -->
            </div>
        </div>
    </section>
</div>