<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">프로젝트</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">게시판</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">모두</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('webdev')">Clone Coding</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">TO do list</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">MVC2 모델</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DB연동</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>